<div  fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
  <div fxFlex="80" >
    <mat-card class="p-0">
        <mat-card-title class="mat-bg-primary m-0">
        <div class="card-title-text" style="width: 100%;text-align: center">
          <span style="width: 100%;text-align: center" > Confirm Purchase </span>
          <span fxFlex></span>
          
        </div>
      
      </mat-card-title>
<!--  [@animate]="{value:'*',params:{delay: '100ms', x:'50px'}} class="product-content-wrap" " -->
      <mat-card-content >
        <div fxFlex="100%"  style="max-width: 100%">
                   <div class="main-info mb-1" style="max-width: 100%">
            <p class="mb-05" >DESCRIPTION</p>
            <marquee direction="left" speed="fast" behavior="alternate">{{data.comment}}</marquee>
            <div fxLayout="row" class="kk" >
            
              <p class="text-muted p-line" ><strong>Make: </strong> <span class="mat-color-default">{{data.carmake}}</span></p>
            
            
              <p class="text-muted p-line"><strong>Y.O.M: </strong> <span class="mat-color-default">{{data.caryom}}</span></p>
            
            </div>
              <div fxLayout="row" >
                <p class="text-muted p-line" ><strong>Model: </strong> <span class="mat-color-default">{{data.carmodel}}</span></p>
      
                </div>

                <div fxLayout="row" class="kk" >
                   <p class="text-muted p-line" ><strong>Part Name: </strong> <span class="mat-color-default">{{data.partname}}</span></p>
            
                  <p class="text-muted p-line"><strong>Supplier: </strong> <span class="mat-color-default">{{data.suppliername}}</span></p>    
                  </div>

           
            <div fxLayout="row" style="display: flex;
            justify-content: space-between;">
              <p class="text-muted p-line" ><strong>Bid Price per Part: </strong> <span class="mat-color-default">{{data.bidpriceper}}</span></p>
              <p class="text-muted p-line"><strong>Total Price: </strong> <span class="mat-color-default">{{data.bidtotalprice}}</span></p>  
              </div>

            <p class="text-muted p-line"><strong>Quantity: </strong> <span ><span class="mat-color-default">{{data.quantity}}</span> </span></p>
          </div>
         
          <div fxLayout="row" style="display: flex;
          justify-content: space-between;">
            <button mat-raised-button class="mat-bg-warn" (click)=close() >Back to Bids</button>
            
            <button mat-raised-button class="mat-bg-primary" (click)=awardbid() >Proceed to Purchase</button>
          </div>
        </div>


      </mat-card-content>
    </mat-card>
  </div>
</div>

