<div class="m-333">
  <!-- <span fxFlex></span> -->
  <mat-form-field class="margin-333" style="width: 100%">
    <input 
    matInput 
    placeholder="Type to search from all columns eg Registration Number of a Car" 
    value=""
    (keyup)='updateFilter($event)'>
  </mat-form-field>
</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="items"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="10"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="Jobcard No." [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.jobcard_no }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Car Registration No." [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.carReg_no }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Car Model" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.car_model }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Order date" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.order_date }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Order Status" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                
                    {{ row?.order_status }}
                 
             <!-- <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'Complete' : 'Bidding'}}</mat-chip>
      -->      </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
           <!--   <button mat-icon-button mat-sm-button color="primary" class="mr-1" ><mat-icon>edit</mat-icon></button>
              <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
            
             [routerLink]="['orders/showorderparts', row.car_model]" (click)= openOrder()   [routerLink]="['/orders/showorderparts', row.order_id]"
            -->
            <div>
                
              <div   fxLayout="row" style="flex-direction: row; display: flex;">
                  <button mat-raised-button color="primary" (click)= openOrdertoOpenbid(row.order_id)  >
                      <mat-icon>open_with</mat-icon>
                      OPEN
                  </button>
                   
                    </div>  
                  
            </div>  
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
  </mat-card-content>
</mat-card>
