<mat-sidenav-container>
        <!-- Inbox left side bar -->
        
        <mat-sidenav #sidenav [opened]="isSidenavOpen" mode="side" class="inbox-sidenav">
          <!-- Compose button -->
          <button mat-raised-button class="mat-warn full-width" >Compose</button>
          <!-- left side buttons -->
          <div [perfectScrollbar] class="chat-sidebar-scroll">
          <mat-nav-list class="inbox-nav-list" role="list">
            <mat-list-item class="primary-imenu-item" role="listitem" routerLinkActive="open">
              <a fxLayout="row">
                <mat-icon class="text-muted">inbox</mat-icon>
                <span>Inbox</span>
              </a>
            </mat-list-item>
            <mat-list-item class="primary-imenu-item" role="listitem" routerLinkActive="open">
              <a fxLayout="row">
                <mat-icon class="text-muted">folder_special</mat-icon>
                <span>Starred</span>
              </a>
            </mat-list-item>
            <mat-list-item class="primary-imenu-item" role="listitem" routerLinkActive="open">
              <a fxLayout="row">
                <mat-icon class="text-muted">send</mat-icon>
                <span>Sent</span>
              </a>
            </mat-list-item>
            <mat-list-item class="primary-imenu-item" role="listitem" routerLinkActive="open">
              <a fxLayout="row">
                <mat-icon class="text-muted">drafts</mat-icon>
                <span>Draft</span>
              </a>
            </mat-list-item>
            <mat-list-item class="primary-imenu-item" role="listitem" routerLinkActive="open">
              <a fxLayout="row">
                <mat-icon class="text-muted">error</mat-icon>
                <span>Spam</span>
              </a>
            </mat-list-item>
      
            <mat-divider></mat-divider>
      
            <mat-list-item class="" role="listitem" routerLinkActive="open">
              <a fxLayout="row">
                <mat-icon color="primary">people</mat-icon>
                <span>Social</span>
              </a>
            </mat-list-item>
            <mat-list-item class="" role="listitem" routerLinkActive="open">
              <a fxLayout="row">
                <mat-icon color="warn">local_offer</mat-icon>
                <span>Promotions</span>
              </a>
            </mat-list-item>
            <mat-list-item class="" role="listitem" routerLinkActive="open">
              <a fxLayout="row">
                <mat-icon color="accent">forums</mat-icon>
                <span>Forums</span>
              </a>
            </mat-list-item>
          </mat-nav-list>
        </div>
        </mat-sidenav>
    



<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text">Form validation</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="basicForm">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                        <div class="pb-1">
                                <mat-form-field class="full-width">
                                    <input
                                    matInput
                                    name="username2"
                                    formControlName="username"
                                    placeholder="Requisition No."
                                    value="">
                                </mat-form-field>
                               
                            </div>
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="username"
                            formControlName="username"
                            placeholder="Car Reg No."
                            value="">
                        </mat-form-field>
                       
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="firstname"
                            formControlName="firstname"
                            placeholder="Car Make"
                            value="">
                        </mat-form-field>
                       
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                        <input
                            matInput
                            
                            name="email"
                            formControlName="email"
                            placeholder="Car Model"
                            value="">
                        </mat-form-field>
                        
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                        <input
                            matInput
                            name="website"
                            formControlName="website"
                            placeholder="Year of Manufacture"
                            value="">
                        </mat-form-field>
                        
                    </div>

                   
                </div>

                <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input 
                            matInput
                            name="cardno"
                            formControlName="cardno"
                            placeholder="Part Name">
                        </mat-form-field>
                        
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input 
                            matInput
                            name="phone"
                            formControlName="phone"
                            placeholder="Part Number">
                        </mat-form-field>
                       
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                        <input 
                           
                            name="password"
                            matInput
                            formControlName="password"
                            placeholder="Quantity" 
                            value="">
                        </mat-form-field>
                       
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <textarea matInput placeholder="Description (eg. color, side)"></textarea>
                        </mat-form-field>
                     
                    </div>

                    <div class="pb-1">
                        
                        <mat-radio-group 
                        name="gender" 
                        formControlName="gender">
                            <mat-radio-button value="sample">sample photos present?</mat-radio-button>
                            <mat-radio-button value="female">Item photos needed?</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    
                    <button 
            mat-raised-button 
            color="primary" 
            [disabled]="basicForm.invalid">Add part</button>
                </div>
            </div>
            <button 
            mat-raised-button 
            color="primary" 
            [disabled]="basicForm.invalid">Submit Order</button>
        </form>
    </mat-card-content>
</mat-card>

</mat-sidenav-container>