<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
      <mat-card class="profile-sidebar mb-1 pb-0">
        <div class="propic text-center">
          <img src="assets/images/car_shell.jpg" alt="">
        </div>
        
        <div class="profile-title text-center mb-1" style="display:flex; flex-direction: column">
          <div class="main-title"><b>{{Order.carReg_no}}</b></div>
         
          <div style="white-space:nowrap;display:flex; flex-direction: row ">
            <label for="id1">Order id: </label>
            <span fxFlex="8px"></span>
            <div class="subtitle mb-05">{{Order.order_id}}</div>
        </div> 
        <div style="white-space:nowrap;display:flex; flex-direction: row ">
          <label for="id1">Requisition No: </label>
          <span fxFlex="8px"></span>
          <div class="subtitle mb-05">{{Order.requisition_no}}</div>
      </div> 


        <div style="white-space:nowrap; display:flex; flex-direction: row ">
          <label for="id1">Car Make: </label>
          <span fxFlex="8px"></span>
          <div class="subtitle mb-05">{{Order.car_make}}</div>
      </div> 
      
      <div style="white-space:nowrap; display:flex; flex-direction: row ">
        <label for="id1">Car Model: </label>
        <span fxFlex="8px"></span>
        <div class="subtitle mb-05">{{Order.car_model}}</div>
    </div> 

          <div style="white-space:nowrap; display:flex; flex-direction: row ">
              <label for="id1">Year of Manufacture: </label>
              <span fxFlex="8px"></span>
              <div class="subtitle mb-05">{{Order.car_yom}}</div>
          </div> 
         
         
        </div>

        <div class="profile-actions mb-1" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" [routerLink]="['/orders/particularpart', productID]">View Part Details</button>
          
        </div>

      <!--  <div  class="profile-actions mb-1" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" printSectionId="printcomplete" ngxPrint>Print Selected</button>
        </div>
-->
        
        <div class="profile-actions mb-1" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="openPopup()">Open Pictures</button>
        </div>
        
        <div class="profile-actions mb-1" fxLayoutAlign="center center">
     
<a target="_blank" [routerLink]="['/print', orderID ]">  <button  id="printInvoice" mat-raised-button color="primary" >Print Completed</button>
 </a>

        </div>
      
     <!--   <div class="profile-nav">
          <mat-nav-list>
            <mat-list-item routerLink="/profile/overview" routerLinkActive="list-item-active">
              <mat-icon>home</mat-icon>
              Overview
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/orders/particularpart" routerLinkActive="list-item-active">
              <mat-icon>settings</mat-icon>
              Settings
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/profile/blank" routerLinkActive="list-item-active">
              <mat-icon>content_paste</mat-icon>
              Blank
            </mat-list-item>
          </mat-nav-list>
        </div>  -->
      </mat-card>
  
     
    </div>
  
  <!-- Profile Views    style="display: none" -->
    <div id="print002" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)" >
      
        <mat-card class="default">
       
            <mat-card-title class="mat-bg-primary m-0">
              <div class="card-title-text">
                <span style="width: 100%;text-align: center" > Vehicle Parts </span>
                <span fxFlex="18px"></span>
                
                </div>
            </mat-card-title>

            <mat-card-content class="p-0">

              <div [perfectScrollbar]  class="list-tasktype">
                <div class="tasktype-item" *ngFor="let t of Order.autorised_parts">
                   
     <ng-container *ngIf="t.part_status=='Complete'; else elseTemplate">
       
        <mat-list-item  routerLinkActive="list-item-active">
           
                <mat-checkbox color="primary" 
                (change)="onChange($event)" [checked]="interestFormGroup.get('interests').value.indexOf(t.part_id) > -1" [value]="t.part_id">{{t.partName}}</mat-checkbox>
                <span fxFlex></span>
                <!--  <mat-chip mat-sm-chip color="primary" [selected]="t.status ? true : false">{{t.status ? 'completed' : 'pending'}}</mat-chip>
                   --> 
                   <span>{{t.part_status}}</span>
            </mat-list-item>

     </ng-container>
     <ng-template #elseTemplate>
       
 
        <mat-list-item [routerLink]="['/orders/particularpart', productID]" routerLinkActive="list-item-active">
                      
          <span>{{t.partName}}</span>
            <span fxFlex></span>
         <!--  <mat-chip mat-sm-chip color="primary" [selected]="t.status ? true : false">{{t.status ? 'completed' : 'pending'}}</mat-chip>
            --> 
            <span>{{t.part_status}}</span>
        </mat-list-item>

     </ng-template>
     
                                 
                </div>
              </div>
              
            </mat-card-content>
          </mat-card>

    </div>
  </div>

  <div *ngIf="somedata" id="printcomplete" style="display: none" >
    <!--
  <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">

      <div class="profile-title text-center mb-1" style="display:flex; flex-direction: column">
          <div class="main-title"><b>Part Purchase Summary</b></div>
          <div style="white-space:nowrap;display:flex; flex-direction: row ">
              <label for="id1">Registration No: </label>
              <span fxFlex="8px"></span>
              <div class="subtitle mb-05">{{Order.carReg_no}}</div>
          </div> 
          
          <div style="white-space:nowrap;display:flex; flex-direction: row ">
            <label for="id1">Order id: </label>
            <span fxFlex="8px"></span>
            <div class="subtitle mb-05">{{Order.order_id}}</div>
        </div> 
       
        <div style="white-space:nowrap; display:flex; flex-direction: row ">
          <label for="id1">Car Make: </label>
          <span fxFlex="8px"></span>
          <div class="subtitle mb-05">{{Order.car_make}}</div>
      </div> 
      
      <div style="white-space:nowrap; display:flex; flex-direction: row ">
        <label for="id1">Car Model: </label>
        <span fxFlex="8px"></span>
        <div class="subtitle mb-05">{{Order.car_model}}</div>
    </div> 

          <div style="white-space:nowrap; display:flex; flex-direction: row ">
              <label for="id1">Year of Manufacture: </label>
              <span fxFlex="8px"></span>
              <div class="subtitle mb-05">{{Order.car_yom}}</div>
          </div> 
         
         
        </div>

    <mat-card-content class="p-0">
      <ngx-datatable
            class="material ml-0 mr-0"
            [rows]="itemswontoprint"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [limit]="10"
            [rowHeight]="'auto'">
            <ngx-datatable-column name="Part Name." [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ partidtoname(row?.bidPartId) }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Supplier Name." [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.bidSourceName }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Amount" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.bidAmount }}
              </ng-template>
            </ngx-datatable-column>
                    
 
          </ngx-datatable>
    </mat-card-content>
  </mat-card>
-->
 
<mat-card class="default">
       
    <div class="profile-title text-center mb-1" style="display:flex; flex-direction: column">
       
        <mat-card-title class="main-title">
            <div class="card-title-text">
              <span style="width: 100%;text-align: center" > Parts Purchase Summary </span>
              <span fxFlex="18px"></span>
              
              </div>
          </mat-card-title>
        <div style="white-space:nowrap;display:flex; flex-direction: row ">
            <label for="id1">Registration No: </label>
            <span fxFlex="8px"></span>
            <div class="subtitle mb-05">{{Order.carReg_no}}</div>
        </div> 
        
        <div style="white-space:nowrap;display:flex; flex-direction: row ">
          <label for="id1">Order id: </label>
          <span fxFlex="8px"></span>
          <div class="subtitle mb-05">{{Order.order_id}}</div>
      </div> 
     
      <div style="white-space:nowrap; display:flex; flex-direction: row ">
        <label for="id1">Car Make: </label>
        <span fxFlex="8px"></span>
        <div class="subtitle mb-05">{{Order.car_make}}</div>
    </div> 
    
    <div style="white-space:nowrap; display:flex; flex-direction: row ">
      <label for="id1">Car Model: </label>
      <span fxFlex="8px"></span>
      <div class="subtitle mb-05">{{Order.car_model}}</div>
  </div> 

        <div style="white-space:nowrap; display:flex; flex-direction: row ">
            <label for="id1">Year of Manufacture: </label>
            <span fxFlex="8px"></span>
            <div class="subtitle mb-05">{{Order.car_yom}}</div>
        </div> 
       
       
      </div>

  <!--  <mat-card-title class="mat-bg-primary m-0">
      <div class="card-title-text">
        <span style="width: 100%;text-align: center" > Parts Purchase Summary </span>
        <span fxFlex="18px"></span>
        
        </div>
    </mat-card-title>  -->
    ---------------------------------------------------------- Parts Purchased -----------------------------
    &nbsp;
    &nbsp;
    <mat-card-content class="p-0">
        
      <div [perfectScrollbar]  class="list-tasktype">
        <div class="tasktype-item" *ngFor="let t of itemswontoprint">
           
            <mat-list-item [routerLink]="['/orders/particularpart', productID]" routerLinkActive="list-item-active">
                <span>{{partidtoname(t.bidPartId)}}</span>
                <span fxFlex></span>
            
                <span>{{t.bidSourceName}}</span>
                <span fxFlex></span>
                <span>{{t.bidAmount}}</span>                
            </mat-list-item>
          
        </div>
      </div>
      
    </mat-card-content>
  </mat-card>


  </div>