

<!-- You can now use your library component in app.component.html 
<h1>
  Image Viewer
</h1>
<app-image-viewer  [images]="['https://res.cloudinary.com/dw9pws08t/image/upload/v1562584054/ctymmdmdfbgbmp16nnuc.jpg']"
[idContainer]="'idOnHTML'"
[loadOnInit]="true"></app-image-viewer>



-->
 <!--


 <img style="height:100%" src="https://res.cloudinary.com/dw9pws08t/image/upload/v1562584054/ctymmdmdfbgbmp16nnuc.jpg" alt="Image 1">

-->

<ngx-image-viewer   [src]="myData"></ngx-image-viewer>

 <!-- This are the actions of the dialog, containing the primary and the cancel button
  <mat-dialog-actions class="actions">

    <button  mat-button  mat-primary mat-dialog-close>Cancel</button>


  </mat-dialog-actions>

-->