<mat-sidenav-container>

    <mat-sidenav  #sidenav [opened]="isSidenavOpen" mode="side" class="inbox-sidenav">
     
        <mat-card-title class="">
            <div class="card-title-text">
              <span>Select Company</span>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            
            <form class="pt-1">
                <mat-select id="langToggle" placeholder="" [(ngModel)]="selectedValue" name="food" class="mb-1">
                  <mat-option *ngFor="let food of foods" [value]="food.value" ngDefaultControl>
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
                <p> Selected Company: {{selectedValue}} </p>
        
            <!--    <button mat-button color="primary" class="mr-1">Primary</button>   -->
            </form>
        
          </mat-card-content>

      </mat-sidenav>


<mat-card class="p-0">
<div class="messages-wrap">
<div class="m-333">
  <!-- <span fxFlex></span> -->
  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Add User</button>
</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="items"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="10"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Department" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.age }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Role" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.balance | currency }}
            </ng-template>
          </ngx-datatable-column>
        
          <ngx-datatable-column name="Status" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'active' : 'inactive'}}</mat-chip>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
  </mat-card-content>
</mat-card>
</div>
</mat-card>

</mat-sidenav-container>