<!-- <button mat-raised-button color="primary" class="mr-1">Place Order Now</button> -->

<!-- Dashboard card row -->
<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Parts Raised</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="primary" 
        selected="true"><mat-icon>live</mat-icon>live</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0.0</h3>
       <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Parts Authorized</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="accent" 
        selected="true"><mat-icon>live</mat-icon>live</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0.0</h3>
       <!-- <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">No. of Bids</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="accent" 
        selected="true"><mat-icon>live</mat-icon>live</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0.0</h3>
      <!--  <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Purchased Parts</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip" 
        color="primary" 
        selected="true"><mat-icon>live </mat-icon>live</mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">0.0</h3>
      <!--  <small class="text-muted">Monthly</small> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>

 
  <!-- Fullwidth chart class="p-0"-->
<div  fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
  <div fxFlex="80" >
    <mat-card class="p-0">
        <mat-card-title class="mat-bg-primary m-0">
        <div class="card-title-text">
          <span style="width: 100%;text-align: center" >Real-Time Puchasing System</span>
          <span fxFlex></span>
          
        </div>
      
      </mat-card-title>

      <mat-card-content >
       
        <section class="home-section section-introhome text-center">
          <div class="container">
              <!--      (click)=sendtoform()    -->
              <button mat-raised-button mat-lg-button color="primary" (click)=sendtoform() >Click Here to Enter Vehicle Details</button>
              <img src="assets/images/5-star.png" alt="">
             
          </div>
        </section>

      </mat-card-content>
    </mat-card>
  </div>
  
</div>


  