<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">ADD COMPANY</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill Company Details</ng-template>
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input
                                matInput
                                name="company_name"
                                formControlName="company_name"
                                placeholder="Company Name"
                                value="">
                            </mat-form-field>
                           
                        </div>
                <div class="pb-1">
                    <mat-form-field class="full-width">
                        <input
                        matInput
                        name="company_postaladdress"
                        formControlName="company_postaladdress"
                        placeholder="Postal Address"
                        value="" required>
                    </mat-form-field>
                   
                </div>
  
                <div class="pb-1">
                    <mat-form-field class="full-width">
                        <input
                        matInput
                        name="company_phonenumber"
                        formControlName="company_phonenumber"
                        placeholder="Phone No."
                        value="" required>
                    </mat-form-field>
                   
                </div>
  
                <div class="pb-1">
                    <mat-form-field class="full-width">
                    <input
                        matInput
                        
                        name="company_email"
                        formControlName="company_email"
                        placeholder="Email Address"
                        value="" required>
                    </mat-form-field>
                    
                </div>
  
                <div class="pb-1">
                    <mat-form-field class="full-width">
                    <input
                        matInput
                        name="company_website"
                        formControlName="company_website"
                        placeholder="Website"
                        value=""  required>
                    </mat-form-field>
                    
                </div>


                <div class="pb-1">
                  <mat-form-field class="full-width">
                  <input
                      matInput
                      name="location_county"
                      formControlName="location_county"
                      placeholder="Location County"
                      value=""  required>
                  </mat-form-field>
                  
              </div>

  
               
            </div>
  
          </div>
          <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Register Admin</ng-template>
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                    <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input
                                matInput
                                name="user_name"
                                formControlName="user_name"
                                placeholder="User Name"
                                value="">
                            </mat-form-field>
                           
                        </div>
                <div class="pb-1">
                    <mat-form-field class="full-width">
                        <input
                        matInput
                        name="user_phoneno"
                        formControlName="user_phoneno"
                        placeholder="Phone Number"
                        value="" required>
                    </mat-form-field>
                   
                </div>
  
                <div class="pb-1">
                    <mat-form-field class="full-width">
                        <input
                        matInput
                        name="user_email"
                        formControlName="user_email"
                        placeholder="Email Address"
                        value="" required>
                    </mat-form-field>
                   
                </div>
  
             
  
               
            </div>
  
          </div>
          <div fxLayout="row">
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <span fxFlex="8px"></span>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <mat-icon class="pt-1" [style.fontSize]="'36px'">check</mat-icon>
        </div>
        <div class="pb-1 mb-1"> You Are Done.</div>
        <div fxLayout="row">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <span fxFlex="8px"></span>
          <button mat-raised-button color="primary" (click)=sendCompreg() >Submit</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>