<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
   

    <div fxFlex="50"  class="pr-1">
      <mat-form-field>
        <mat-label>Part Category</mat-label>
        <mat-select  (selectionChange)="changeClient($event.value)">
          <mat-option *ngFor="let partcategory of partcategorys" [value]="partcategory">
            {{partcategory}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="partname"
        [formControl]="itemForm.controls['partname']"
        placeholder="Part Name">
      </mat-form-field>
    </div>

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid || checkselect()">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>