<mat-sidenav-container>


<mat-card class="p-0">
<div class="messages-wrap">
<div class="m-333">
<!-- <span fxFlex></span> -->
<button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Add User</button>
</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
<mat-card-content class="p-0">
  <ngx-datatable
        class="material ml-0 mr-0"
        [rows]="itemzz"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="10"
        [rowHeight]="'auto'">
        <ngx-datatable-column name="Name" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.userName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Department" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.userDepartment }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Role" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.userAuthority }}
          </ng-template>
        </ngx-datatable-column>
      
        <ngx-datatable-column name="Status" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-chip mat-sm-chip [color]="'primary'" [selected]="row">{{row.isActive ? 'active' : 'active'}}</mat-chip>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button mat-sm-button color="primary" class="mr-1"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button mat-sm-button color="warn" ><mat-icon>delete</mat-icon></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
</mat-card-content>
</mat-card>
</div>
</mat-card>

</mat-sidenav-container>