

<mat-sidenav-container>
 

    <mat-sidenav  #sidenav [opened]="isSidenavOpen" mode="side" class="inbox-sidenav" >
        <!-- Compose button -->
        <button mat-raised-button class="mat-warn full-width" >{{Order.carReg_no}}</button>
        <!-- left side buttons           -->
        <div [perfectScrollbar] class="chat-sidebar-scroll">
        <mat-nav-list class="inbox-nav-list" role="list">
          <mat-list-item class="primary-imenu-item"  routerLinkActive="open" *ngFor="let item of Order.autorised_parts ; let i = index" 
          [style.background]="selected==i?  '#e91e63':'black'" (click)="selected=i"    (click)= onclickpart(item.part_id) >
            <a fxLayout="row">
                {{item.partQuantity}} &nbsp;
                <span> {{item.partName}} </span>
            </a>
          
            <mat-divider></mat-divider>
          </mat-list-item>
         
          
    
        </mat-nav-list>
      </div>
      </mat-sidenav>
  
      <div class="messages-wrap">
<mat-card class="p-0">
  

    <div>
        <div  *ngIf="(selectedStatusreturn() === 'Closed' || selectedStatusreturn() === 'Complete') ; then thenBlock; else elseBlock"> </div>
        <ng-template #thenBlock>
           

 
            <mat-tab-group>
                <!--  <div  *ngIf="getStatusreturn(row.bidPartId) === 'Closed' ; then thenBlock; else elseBlock"> </div>
                  
                    -->
            
            
                <mat-tab label="Bids">
                    <mat-card-content  >
                     
                                  <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
                            <mat-card-content class="p-0">
                              <ngx-datatable
                                    class="material ml-0 mr-0"
                                    [rows]="items"
                                    [columnMode]="'flex'"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [limit]="10"
                                    [rowHeight]="'auto'">
                                    <ngx-datatable-column name="Supplier Name" [flexGrow]="1">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row?.bidSourceName }}
                                      </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Supplier Phone No." [flexGrow]="1">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row?.bidSupplierPhone }}
                                      </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Amount per Item" [flexGrow]="1">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row?.bidAmount }}
                                      </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Supplier Status" [flexGrow]="1">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row?.bidSupplyStatus }}
                                      </ng-template>
                                    </ngx-datatable-column>
                                 <!--  <ngx-datatable-column name="Order Status" [flexGrow]="1">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                        <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'Complete' : 'Bidding'}}</mat-chip>
                                      </ng-template>  
                                    </ngx-datatable-column>--> 
                                    <ngx-datatable-column name="Actions" [flexGrow]="1">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                     <!--   <button mat-icon-button mat-sm-button color="primary" class="mr-1" ><mat-icon>edit</mat-icon></button>
                                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
                                      
                                       [routerLink]="['orders/showorderparts', row.car_model]" (click)= openOrder()   [routerLink]="['/orders/showorderparts', row.order_id]"
                                    *ngIf="row.bidPartId   row.part_status  -->
                                      <div>
                                          <div  *ngIf="getStatusreturn(row.bidPartId) === 'Closed' ; then thenBlock; else elseBlock"> </div>
                                          <ng-template #thenBlock>
                                              <div fxLayout="row" style="flex-direction: row; display: flex;">
                                                  <!--   <button  mat-raised-button color="primary" (click)= openOrder(row.order_id) style=" 
                                                      
                                                      min-height: 23px !important;
                                                      min-width: 46px !important;
                                                      font-size: 12px !important;
                                                      line-height: 0px; 
                                                " >
                                                          *ngIf="row.part_status === 'Bidding'"  
                                                        Award
                                                      </button>   --> 
                                                      <mat-chip   
                                class="icon-chip" 
                                color="primary" 
                                selected="true"(click)=openDialogPurchase(row.bid_id,row.bidSupplierId,row.bidSourceName,row.bidAmount,row.bidPartId,row.bidOrderId) >Award</mat-chip>
                                                     
                                                     
                                                      &nbsp;
                                        
                                                      <mat-chip
                                                      class="icon-chip" 
                                                      color="accent" 
                                                      selected="true" (click)="openDialogOffer(row.bid_id,row.bidSupplierId,row.bidSourceName,row.bidAmount,row.bidPartId,row.bidOrderId)" >Offer</mat-chip>
                                        
                                                                                     
                                                        </div>  
                        
                        
                                                        
                                            </ng-template>
                                            <ng-template #elseBlock>
                                                <div  fxLayout="row" style="flex-direction: row; display: flex;">
                                                          
                                                    <mat-chip   
                              class="icon-chip" 
                              color="primary" 
                              selected="true" >{{getStatusreturn(row.bidPartId)}} </mat-chip>
                                                   
                                                                        
                                                      </div>  
                                            </ng-template>
              
                                          
                                                                 
                                      </div>  
                                      </ng-template>
                                    </ngx-datatable-column>
                                  </ngx-datatable>
                            </mat-card-content>
                          </mat-card>
              
              
                        <!--
                        <div class="tasktype-item" *ngFor="let t of Order.order_parts">
                           
                            <mat-list-item routerLink="/orders/particularpart" routerLinkActive="list-item-active">
                                <span>{{t.partName}}</span>
                                <span fxFlex></span>
                                <mat-chip mat-sm-chip color="primary" [selected]="t.status ? true : false">{{t.status ? 'completed' : 'pending'}}</mat-chip>
                                
                            </mat-list-item>
                          
                        </div> -->
                      
                    </mat-card-content>
                  </mat-tab>
                  <mat-tab label="Purchase History">
                    <mat-card-content>
                                          
                      <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
                        <mat-card-content class="p-0">
                          <ngx-datatable
                                class="material ml-0 mr-0"
                                [rows]="itemshistory"
                                [columnMode]="'flex'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [limit]="10"
                                [rowHeight]="'auto'">
                                <ngx-datatable-column name="Supplier Name" [flexGrow]="1">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row?.won_supplier_name }}
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Phone No." [flexGrow]="1">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row?.won_supplier_phone}}
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Amount" [flexGrow]="1">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row?.part_sale_price }}
                                  </ng-template>
                                </ngx-datatable-column>
                                
                             
                              </ngx-datatable>
                        </mat-card-content>
                      </mat-card>
              
                    </mat-card-content>
                  </mat-tab>
                  
                   
            
                
              </mat-tab-group>
            


                      
          </ng-template>
          <ng-template #elseBlock>
           
            
              <mat-tab-group>
                  <!--  <div  *ngIf="getStatusreturn(row.bidPartId) === 'Closed' ; then thenBlock; else elseBlock"> </div>
                    
                      -->
              
              
                  <mat-tab label="Bids">
                      <mat-card-content  >
                       
                                    <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
                              <mat-card-content class="p-0">
                                <ngx-datatable
                                      class="material ml-0 mr-0"
                                      [rows]="items"
                                      [columnMode]="'flex'"
                                      [headerHeight]="50"
                                      [footerHeight]="50"
                                      [limit]="10"
                                      [rowHeight]="'auto'">
                                      <ngx-datatable-column name="Supplier Name" [flexGrow]="1">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{ row?.bidSourceName }}
                                        </ng-template>
                                      </ngx-datatable-column>
                                      <ngx-datatable-column name="Supplier Phone No." [flexGrow]="1">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{ row?.bidSupplierPhone }}
                                        </ng-template>
                                      </ngx-datatable-column>
                                    
                                      <ngx-datatable-column name="Supplier Status" [flexGrow]="1">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{ row?.bidSupplyStatus }}
                                        </ng-template>
                                      </ngx-datatable-column>
                                  
                                      <ngx-datatable-column name="Actions" [flexGrow]="1">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                      
                                        <div>
                                            <div  *ngIf="getStatusreturn(row.bidPartId) === 'Closed' ; then thenBlock; else elseBlock"> </div>
                                            <ng-template #thenBlock>
                                                <div fxLayout="row" style="flex-direction: row; display: flex;">
                                                  
                                                        <mat-chip   
                                  class="icon-chip" 
                                  color="primary" 
                                  selected="true"(click)=openDialogPurchase(row.bid_id,row.bidSupplierId,row.bidSourceName,row.bidAmount,row.bidPartId,row.bidOrderId) >Award</mat-chip>
                                                       
                                                       
                                                        &nbsp;
                                          
                                                        <mat-chip
                                                        class="icon-chip" 
                                                        color="accent" 
                                                        selected="true" (click)="openDialogOffer(row.bid_id,row.bidSupplierId,row.bidSourceName,row.bidAmount,row.bidPartId,row.bidOrderId)" >Offer</mat-chip>
                                          
                                                                                       
                                                          </div>  
                          
                          
                                                          
                                              </ng-template>
                                              <ng-template #elseBlock>
                                                  <div  fxLayout="row" style="flex-direction: row; display: flex;">
                                                            
                                                      <mat-chip   
                                class="icon-chip" 
                                color="primary" 
                                selected="true" >{{getStatusreturn(row.bidPartId)}} </mat-chip>
                                                     
                                                                          
                                                        </div>  
                                              </ng-template>
                
                                            
                                                                   
                                        </div>  
                                        </ng-template>
                                      </ngx-datatable-column>
                                    </ngx-datatable>
                              </mat-card-content>
                            </mat-card>
                
                      </mat-card-content>
              
                    </mat-tab>
                    <mat-tab disabled color="primary" >
                        <ng-template mat-tab-label>
                            <button mat-raised-button color="primary" (click)="closeBidding()" >Close Bidding</button>
                        </ng-template>
                    </mat-tab>
                                 
                  
                </mat-tab-group>
              
  

          </ng-template>

                         
    </div>  





 
</mat-card>

</div>


</mat-sidenav-container>