<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" >
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="username"
        [formControl]="itemForm.controls['username']"
        placeholder="Name">
      </mat-form-field>
    </div>


    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        type="email"
        name="email"
        [formControl]="itemForm.controls['email']"
        placeholder="Email">
      </mat-form-field>
    </div>



    <div fxFlex="50"  class="pb-1">
      <mat-form-field class="full-width">
        <mat-label> User Department</mat-label>
        <mat-select   (selectionChange)="changeClientdep($event.value)" required>
          <mat-option *ngFor="let department of departments" [value]="department">
            {{department}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    &nbsp; &nbsp; &nbsp; &nbsp; 
    <div fxFlex="50" class="pb-1">
      <mat-form-field class="full-width">
        <mat-label> User Authority</mat-label>
        <mat-select   (selectionChange)="changeClientauth($event.value)" required>
          <mat-option *ngFor="let authority of authoritys" [value]="authority">
            {{authority}}
          </mat-option>
        </mat-select>
      </mat-form-field>
     
  </div>


   

    



    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid" (click)="submitb()">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>