<mat-sidenav-container>

    <mat-sidenav  #sidenav [opened]="isSidenavOpen" mode="side" class="inbox-sidenav">
     
        <mat-card-title class="">
            <div class="card-title-text">
              <span>Select Option</span>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            
             <div style="width: 100%;text-align: center">
              <div style="box-sizing: border-box;
              padding: 10px">
              <span> 
                 
                  <button mat-raised-button   [ngStyle]="{'background-color': returnBol('car_make')? 'red' : 'LIGHTSLATEGRAY'}"  (click)="getClick('car_make')">Vehicle Make</button>
              </span>
              &nbsp;
              &nbsp;
            </div>
            <div style="box-sizing: border-box;
            padding: 10px">
              <span> 
                  <button mat-raised-button  [ngStyle]="{'background-color': returnBol('car_model')? 'red' : 'LIGHTSLATEGRAY'}"  (click)="getClick('car_model')">Vehicle Model</button>
              </span>
              &nbsp;
              &nbsp;
            </div>
            <div  style="box-sizing: border-box;
            padding: 10px">
              <span> 
                  <button mat-raised-button  [ngStyle]="{'background-color': returnBol('car_parts')? 'red' : 'LIGHTSLATEGRAY'}" (click)="getClick('car_parts')" >Vehicle   Parts</button>
              </span>
              &nbsp;
            </div>
            </div>
          </mat-card-content>

      </mat-sidenav>

     
<mat-card class="p-0">
<div class="messages-wrap"   *ngIf="selectedValue === 'car_make'" >
<div class="m-333">
  <!-- <span fxFlex></span>        color="primary"   [disabled]= "!returnBol('car_make')"                  -->
  <button mat-raised-button class="mb-05" color="primary" (click)="openmakePopUp({}, true)">Add Car Make</button>
</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="itemsv"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="10"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="Car Make" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.vehicle_make }}
            </ng-template>
          </ngx-datatable-column>
        
          <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
  </mat-card-content>
</mat-card>
</div>

<!-- ================================================== -->

<div class="messages-wrap" *ngIf="selectedValue === 'car_model'">
  <div class="m-333">
    <!-- <span fxFlex></span> -->
    <button mat-raised-button class="mb-05" color="primary" (click)="openmodelPopUp({}, true)">Add Car Model</button>
  </div>
  <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">
      <ngx-datatable
            class="material ml-0 mr-0"
            [rows]="itemsv"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [limit]="10"
            [rowHeight]="'auto'">
            <ngx-datatable-column name="Car Make" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.vehicle_make }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Car Model" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.vehicle_model}}
              </ng-template>
            </ngx-datatable-column>
          
            <ngx-datatable-column name="Actions" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
    </mat-card-content>
  </mat-card>
  </div>

  <!--=============================================================-->

  <div class="messages-wrap" *ngIf="selectedValue === 'car_parts'">
    <div class="m-333">
      <!-- <span fxFlex></span> -->
      <button mat-raised-button class="mb-05" color="primary" (click)="opencarpartPopUp({}, true)">Add Car Part</button>
    </div>
    <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
      <mat-card-content class="p-0">
        <ngx-datatable
              class="material ml-0 mr-0"
              [rows]="itemsp"
              [columnMode]="'flex'"
              [headerHeight]="50"
              [footerHeight]="50"
              [limit]="10"
              [rowHeight]="'auto'">
              <ngx-datatable-column name="Part Name" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.part_name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Part Category" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row?.part_category }}
                </ng-template>
              </ngx-datatable-column>
             
              <ngx-datatable-column name="Actions" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
      </mat-card-content>
    </mat-card>
    </div>
    


</mat-card>

</mat-sidenav-container>