<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50"  class="pr-1">
      <mat-form-field>
        <mat-label>Vehicle Make</mat-label>
        <mat-select    (selectionChange)="changeClient($event.value)">
          <mat-option *ngFor="let make of makes" [value]="make.vehicle_make">
            {{make.vehicle_make}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        
        name="carmodel"
        [formControl]="itemForm.controls['carmodel']"
        placeholder="Car Model">
      </mat-form-field>
    </div>

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid || checkselect()">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close({cancel:true})">Cancel</button>
    </div>
  </div>
  </form>