<div class="page-wrap height-100 mat-bg-primary">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pb-1">
          <img src="assets/images/logo-full.png" alt="" class="mb-05">
          <p class="text-muted m-0">Sign in to your account</p>
        </div>
        <form [formGroup]="signinForm" (ngSubmit)="authenticateUser()">
          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                name="companyname"
                [formControl]="signinForm.controls['companyname']"
                placeholder="Company Name"
              
                >
            </mat-form-field>
            <small 
              *ngIf="signinForm.controls['companyname'].hasError('required') && signinForm.controls['companyname'].touched" 
              class="form-error-msg"> Company name is required </small>
          </div>
          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                name="companynumber"
                [formControl]="signinForm.controls['companynumber']"
                placeholder="Company Number"
                >
            </mat-form-field>
            <small 
              *ngIf="signinForm.controls['companynumber'].hasError('required') && signinForm.controls['companynumber'].touched" 
              class="form-error-msg"> Company Number is required </small>
          </div>
         
          <div class="">
              <mat-form-field class="full-width">
                <input
                  matInput
                  name="email"
                  [formControl]="signinForm.controls['email']"
                  placeholder="Your Email Address"
                  >
              </mat-form-field>
              <small 
                *ngIf="signinForm.controls['email'].hasError('required') && signinForm.controls['email'].touched" 
                class="form-error-msg"> Email is required </small>
            </div>
          <div class="">
            <mat-form-field class="full-width">
              <input 
                type="password"
                name="password"
                matInput
                [formControl]="signinForm.controls['password']"
                placeholder="Password" 
                >
            </mat-form-field>
            <small 
              *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched" 
              class="form-error-msg"> Password is required </small>
          </div>
          
          <div class="pb-1">
            <mat-checkbox
              name="rememberMe"
              [formControl]="signinForm.controls['rememberMe']"
              class="pb-1">Remember this computer</mat-checkbox>
          </div>
          
          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="signinForm.invalid" >Sign in</button>
          <div class="text-center">
            <a [routerLink]="'/sessions/forgot-password'" class="mat-primary text-center full-width">Forgot password</a>
           
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

