<mat-sidenav-container>
 


  <mat-sidenav  #sidenav [opened]="isSidenavOpen" mode="side" class="inbox-sidenav" >
    <!-- Compose button -->
    <button mat-raised-button class="mat-warn full-width" >{{Order.carReg_no}}</button>
    <!-- left side buttons           -->
    <div [perfectScrollbar] class="chat-sidebar-scroll">
    <mat-nav-list class="inbox-nav-list" role="list">
      <mat-list-item class="primary-imenu-item"  routerLinkActive="open" *ngFor="let item of Order.autorised_parts ; let i = index" 
      [style.background]="selected==i?  '#e91e63':'black'" (click)="selected=i"    (click)= onclickpart(item.part_id) >
        <a fxLayout="row">
           
            <span> {{item.partName}} </span>
        </a>
      
        <mat-divider></mat-divider>
      </mat-list-item>
     
      

    </mat-nav-list>
  </div>
  </mat-sidenav>



<mat-card class="p-0" style="height: 370px;">
  <mat-card-title class="">
    <div class="card-title-text">Vehicle Part Status</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
     <!--  *ngIf="item.part_status == 'Closed'"  
  <div  *ngIf="partstatus() == 'Closed'">
    <button type="button"
    mat-raised-button 
    color="primary" 
    (click)=openBidding(selectedid)>Open Bidding</button>
  </div>  -->

  <div  *ngIf="partstatus() != 'Bidding' ; then thenBlock; else elseBlock"> </div>
  <ng-template #thenBlock>
      <button type="button"
      mat-raised-button 
      color="primary" 
      (click)=openBidding(selectedid)>Open Bidding</button>
                     
  </ng-template>
  <ng-template #elseBlock>

      <p>The Status for this part is {{ partstatus() }}</p>
    </ng-template>

  </mat-card-content>
  </mat-card>
  

</mat-sidenav-container>