<div  fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center center">
  <div fxFlex="80" >
    <mat-card class="p-0">
        <mat-card-title class="mat-bg-primary m-0">
        <div class="card-title-text" style="width: 100%;text-align: center">
          <span style="width: 100%;text-align: center" > Place Offer </span>
          <span fxFlex></span>
          
        </div>
      
      </mat-card-title>

      <mat-card-content >
        <div fxFlex="100%"  style="max-width: 100%"  class="product-content-wrap" [@animate]="{value:'*',params:{delay: '100ms', x:'50px'}}">
                   <div class="main-info mb-1">
            <p class="mb-05" >DESCRIPTION</p>
           
            <div fxLayout="row" style="display: flex; justify-content: space-between">
              <p class="text-muted p-line" ><strong>Make: </strong> <span class="mat-color-default">{{data.carmake}}</span></p>
              <p class="text-muted p-line"><strong>Y.O.M: </strong> <span class="mat-color-default">{{data.caryom}}</span></p>
              </div>
              <div fxLayout="row" style="display: flex; justify-content: space-between;">
                <p class="text-muted p-line" ><strong>Model: </strong> <span class="mat-color-default">{{data.carmodel}}</span></p>
      
                </div>

                <div fxLayout="row" style="display: flex;
                justify-content: space-between;">
                   <p class="text-muted p-line" ><strong>Part Name: </strong> <span class="mat-color-default">{{data.partname}}</span></p>
            
                  <p class="text-muted p-line"><strong>Supplier: </strong> <span class="mat-color-default">{{data.suppliername}}</span></p>    
                  </div>

           
            <div fxLayout="row" style="display: flex;
            justify-content: space-between;">
              <p class="text-muted p-line" ><strong>Bid Price per Part: </strong> <span class="mat-color-default">{{data.bidpriceper}}</span></p>
              <p class="text-muted p-line"><strong>Total Price: </strong> <span class="mat-color-default">{{data.bidtotalprice}}</span></p>  
              </div>

            <p class="text-muted p-line"><strong>Quantity: </strong> <span ><span class="mat-color-default">{{data.quantity}}</span> </span></p>
          
          &nbsp;
           &nbsp; 
            &nbsp; 
           
          <p class="mb-05" style="text-align: center" >Offer Price per Item               Ksh: {{offerpricedata}}</p>

          <input matInput [(ngModel)]="offerpricedata" required>
          &nbsp; 
          &nbsp; 
          &nbsp;    
  <!--        <mat-form-field>
            <input matInput [(ngModel)]="offerpricedata" required>
          </mat-form-field>

          <form [formGroup]="basicFormo">
            <div fxLayout="row wrap">
                   <div fxFlex="100" fxFlex.gt-xs="50">
                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <input 
                            matInput
                            name="offerprice"
                            formControlName="offerprice"
                            placeholder="Enter your offer Price" required>
                        </mat-form-field>
                        
                    </div>
      
                         
                </div>
            </div>
[disabled]="offerpricedata"
        </form>     [disabled]="basicFormo.invalid"  -->
      &nbsp; 
          &nbsp; 
          &nbsp;
        <p class="mb-05"  ></p>
          <div fxLayout="row" style="display: flex;
          justify-content: space-between;">
            <button mat-raised-button class="mat-bg-warn" (click)=close() >Back to Bids</button>
            
            <button mat-raised-button class="mat-bg-primary" [disabled]="!offerpricedata"  (click)= "placeoffer()">Place Offer</button>
          </div>
        </div>  
      </div> 
      </mat-card-content>
    </mat-card>
  </div>
</div>
