<div class="page-wrap height-100 mat-bg-primary">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pb-1">
          <img src="assets/images/logo-full.png" alt="" class="mb-05">
          <p class="text-muted m-0">New password will be sent to your email address</p>
        </div>
        <form [formGroup]="signinFormf" (ngSubmit)="submitEmail()">

          <div class="">
            <mat-form-field class="full-width">
                      <input
                        matInput
                        name="companyname"
                        [formControl]="signinFormf.controls['companyname']"
                        placeholder="Company Name"
                        value="">
                    </mat-form-field>
                    <small 
                      *ngIf="signinFormf.controls['companyname'].hasError('required') && signinFormf.controls['companyname'].touched" 
                      class="form-error-msg"> Company name is required </small>
                  </div>
                  <div class="">
                    <mat-form-field class="full-width">
                      <input
                        matInput
                        name="companynumber"
                        [formControl]="signinFormf.controls['companynumber']"
                        placeholder="Company Number"
                        value="">
                    </mat-form-field>
                    <small 
                      *ngIf="signinFormf.controls['companynumber'].hasError('required') && signinFormf.controls['companynumber'].touched" 
                      class="form-error-msg"> Company Number is required </small>
                  </div>
                 
               
                  <div class="">
                      <mat-form-field class="full-width">
                        <input
                          matInput
                          name="email"
                          [formControl]="signinFormf.controls['email']"
                          placeholder="Your Email Address"
                          value="">
                      </mat-form-field>
                      <small 
                        *ngIf="signinFormf.controls['email'].hasError('required') && signinFormf.controls['email'].touched" 
                        class="form-error-msg"> Email is required </small>
                    </div>
            

          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="signinFormf.invalid">Submit</button>
          <div class="text-center">
            <a [routerLink]="'/sessions/signin'" class="mat-primary text-center full-width">Sign in</a>
 
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

