<mat-sidenav-container>
  <!-- Inbox left side bar carsparesarray.car_parts.length()>=1-->
  
  <mat-sidenav *ngIf="carsparesarray.car_parts.length >= 1" #sidenav [opened]="isSidenavOpen" mode="side" class="inbox-sidenav">
    <!-- Compose button -->
    <button mat-raised-button class="mat-warn full-width" >{{carsparesarray.carreg_no}}</button>
    <!-- left side buttons -->
    <div [perfectScrollbar] class="chat-sidebar-scroll">
    <mat-nav-list class="inbox-nav-list" role="list">
      <mat-list-item class="primary-imenu-item"  routerLinkActive="open" *ngFor="let item of carsparesarray.car_parts">
        <a fxLayout="row">
            {{item.partQuantity}} &nbsp;
            <span> {{item.partName}} </span>
        </a>
      </mat-list-item>
     
      <mat-divider></mat-divider>

    </mat-nav-list>
  </div>
  </mat-sidenav>




<mat-card class="p-0">

<mat-card-title class="">
<!--  <div class="card-title-text">Fill Vehicle Details</div>  -->



  
 <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="card-title-text"> CLICK HERE! to add missing car make, model or part name</div>
        </mat-panel-title>


      </mat-expansion-panel-header>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button class="mb-05" color="primary" (click)="openmakePopUp({}, true)">Add Car Make</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button class="mb-05" color="primary" (click)="openmodelPopUp({}, true)">Add Car Model</button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button class="mb-05" color="primary" (click)="opencarpartPopUp({}, true)">Add Car Part</button>
    
    </mat-expansion-panel>

  <mat-divider></mat-divider>



  <div class="card-title-text">Fill Vehicle Details</div>  



</mat-card-title>




<mat-card-content>


<!--
              <div class="m-333"> 
                  <span fxFlex></span> 
                 <button mat-raised-button class="mb-05" color="primary" (click)="openmakePopUp({}, true)">Add New Vehicle Make</button>

                    <span fxFlex></span> 
                    <button mat-raised-button class="mb-05" color="primary" (click)="openmodelPopUp({}, true)">Add New Vehicle Model</button>

                    <span fxFlex></span> 
                    <button mat-raised-button class="mb-05" color="primary" (click)="opencarpartPopUp({}, true)">Add New Car Part</button>

                </div> 
-->

  <form [formGroup]="basicForm" (ngSubmit)="onSubmit()">

      <div fxLayout="row wrap">

          <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                  <div class="pb-1">
                          <mat-form-field class="full-width">
                              <input
                              matInput
                              name="jobcard_no"
                              formControlName="jobcard_no"
                              placeholder="JobCard No."
                              value="">
                          </mat-form-field>
                         
                      </div>
              <div class="pb-1">
                  <mat-form-field class="full-width">
                      <input
                      matInput
                      name="carreg_no"
                      formControlName="carreg_no"
                      placeholder="Car Reg No."
                      value="" required>
                  </mat-form-field>
                 
              </div>
              <div class="pb-1">
                <mat-form-field class="full-width">
                    <input
                    matInput
                    name="chassis_no"
                    formControlName="chassis_no"
                    placeholder="Chassis No. (optional)"
                    value="">
                </mat-form-field>
               
            </div>

              <div class="pb-1">
                  <mat-form-field class="full-width">
                    <mat-label>Vehicle Make</mat-label>
                    <mat-select   (selectionChange)="changeClientmake($event.value)" required>
                      <mat-option *ngFor="let make of makes" [value]="make.vehicle_make">
                        {{make.vehicle_make}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                 
              </div>

              <div class="pb-1">
                  <mat-form-field class="full-width">
                    <mat-label>Vehicle Model</mat-label>
                    <mat-select    (selectionChange)="changeClientmodel($event.value)" required>
                      <mat-option *ngFor="let model of  modelsgive()" [value]="model">
                        {{model}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
              </div> 


              <div class="pb-1">
                  <mat-form-field class="full-width">
                    <mat-label>Year of Manufacture</mat-label>
                    <mat-select    (selectionChange)="changeClientyom($event.value)" required>
                      <mat-option *ngFor="let yom of yoms" [value]="yom">
                        {{yom}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
              </div>
             
              <div class="pb-1">
             <mat-chip   
             class="icon-chip" 
             color="primary" 
             selected="true" (click)="uploadCarimg()">Upload Car Images?</mat-chip>
            </div>
          </div>
         

          <div fxFlex="100" fxFlex.gt-xs="50">





                
              <div class="pb-1">
                  <mat-form-field class="full-width">
                    <mat-label>Part Name</mat-label>
                
                    <mat-select  formControlName="part_name"   (selectionChange)="changeClientpart($event.value)" required>
                      <mat-option *ngFor="let partname of partnames" [value]="partname.part_name">
                        {{partname.part_name}}
                      </mat-option>


                    </mat-select>
                  </mat-form-field>
                  
              </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                <input 
                   
                    name="part_number"
                    matInput
                    formControlName="part_number"
                    placeholder="Part Number (optional)" 
                    value="" >
                </mat-form-field>
               
            </div>

              <div class="pb-1">
                  <mat-form-field class="full-width">
                  <input 
                     
                      name="quantity"
                      matInput
                      formControlName="quantity"
                      placeholder="Quantity" 
                      value="" required>
                  </mat-form-field>
                 
              </div>

              <div class="pb-1">
                  <mat-form-field class="full-width">
                      <textarea name="description" matInput formControlName="description" placeholder="Description (eg. color, side, genuine, taiwan)"></textarea>
                  </mat-form-field>
               
              </div>

              <div style="display:none"  class="pb-1">
             <mat-chip   
                class="icon-chip" 
                color="primary" 
                selected="true" (click)="uploadCarpartimg()">Upload Sample Part Images?</mat-chip>
              </div>

          <!--   <div class="pb-1">
                
            [disabled]="basicForm.invalid" 
            && basicForm.invalid 
                
                <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                <img [src]="imgURL" height="200" *ngIf="imgURL">
            </div>
       "basicForm.controls['carreg_no'].invalid"  "!carsparesarray.carreg_no"           (click)=pushcarsparesarraytoserver()-->

              <button type="button"
      mat-raised-button 
      color="primary" [disabled]="basicForm.invalid"
     (click)=addtocarsparesarray()>Add part</button>
          </div>
      </div>
      <button 
      mat-raised-button 
      color="primary" 
      [disabled]=  "!carsparesarray.car_make && basicForm.invalid ||checkpartfield()" type="submit" >Submit Order</button>
  </form>
</mat-card-content>
</mat-card>

</mat-sidenav-container>