<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" >
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        name="username"
        [formControl]="itemForm.controls['username']"
        placeholder="Name">
      </mat-form-field>
    </div>


    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
      
        name="phone"
        [formControl]="itemForm.controls['phone']"
        placeholder="Phone">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <mat-label> Status</mat-label>
        <mat-select   (selectionChange)="changeClientstatus($event.value)" required>
          <mat-option *ngFor="let status of statuss" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <mat-label> Supplies Category</mat-label>
        <mat-select   (selectionChange)="changeClientcategory($event.value)" required>
          <mat-option *ngFor="let category of categorys" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

   
   
  <div fxFlex="50"  class="pr-1">
    <mat-form-field class="full-width">
      <input
      matInput
      name="location"
      [formControl]="itemForm.controls['location']"
      placeholder="Location">
    </mat-form-field>
  </div>

   

    



    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid" (click)="submitb()">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>