<mat-sidenav-container>
    <!-- Inbox left side bar carsparesarray.car_parts.length()>=1-->
    
    <mat-sidenav *ngIf="carsparesarray.car_parts.length >= 1" #sidenav [opened]="isSidenavOpen" mode="side" class="inbox-sidenav">
      <!-- Compose button -->
      <button mat-raised-button class="mat-warn full-width" >{{carsparesarray.carreg_no}}</button>
      <!-- left side buttons -->
      <div [perfectScrollbar] class="chat-sidebar-scroll">
      <mat-nav-list class="inbox-nav-list" role="list">
        <mat-list-item class="primary-imenu-item"  routerLinkActive="open" *ngFor="let item of carsparesarray.car_parts">
          <a fxLayout="row">
              {{item.partQuantity}} &nbsp;
              <span> {{item.partName}} </span>
          </a>
        </mat-list-item>
       
        <mat-divider></mat-divider>
  
      </mat-nav-list>
    </div>
    </mat-sidenav>
  
  
  
  
  <mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">Fill Order Details</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="basicForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
  
  
  
                    <div class="pb-1">
                            <mat-form-field class="full-width">
                                <input
                                matInput
                                name="requisition_no"
                                formControlName="requisition_no"
                                placeholder="Requisition No."
                                value="">
                            </mat-form-field>
                           
                        </div>
                <div class="pb-1">
                    <mat-form-field class="full-width">
                        <input
                        matInput
                        name="carreg_no"
                        formControlName="carreg_no"
                        placeholder="Car Reg No."
                        value="" required>
                    </mat-form-field>
                   
                </div>
  
                <div class="pb-1">
                    <mat-form-field class="full-width">
                        <input
                        matInput
                        name="car_make"
                        formControlName="car_make"
                        placeholder="Car Make"
                        value="" required>
                    </mat-form-field>
                   
                </div>
  
                <div class="pb-1">
                    <mat-form-field class="full-width">
                    <input
                        matInput
                        
                        name="car_model"
                        formControlName="car_model"
                        placeholder="Car Model"
                        value="" required>
                    </mat-form-field>
                    
                </div>
  
                <div class="pb-1">
                    <mat-form-field class="full-width">
                    <input
                        matInput
                        name="yom"
                        formControlName="yom"
                        placeholder="Year of Manufacture"
                        value=""  required>
                    </mat-form-field>
                    
                </div>
  
               
            </div>
  
            <div fxFlex="100" fxFlex.gt-xs="50">
                <div class="pb-1">
                    <mat-form-field class="full-width">
                        <input 
                        matInput
                        name="part_name"
                        formControlName="part_name"
                        placeholder="Part Name" required>
                    </mat-form-field>
                    
                </div>
  
                <div class="pb-1">
                  <mat-form-field class="full-width">
                  <input 
                     
                      name="part_number"
                      matInput
                      formControlName="part_number"
                      placeholder="Part Number" 
                      value="" >
                  </mat-form-field>
                 
              </div>
  
                <div class="pb-1">
                    <mat-form-field class="full-width">
                    <input 
                       
                        name="quantity"
                        matInput
                        formControlName="quantity"
                        placeholder="Quantity" 
                        value="" required>
                    </mat-form-field>
                   
                </div>
  
                <div class="pb-1">
                    <mat-form-field class="full-width">
                        <textarea name="description" matInput formControlName="description" placeholder="Description (eg. color, side)"></textarea>
                    </mat-form-field>
                 
                </div>
  
                <div class="pb-1">
                    
                    <mat-radio-group 
                    name="sample_photos" 
                    formControlName="sample_photos">
                        
                        <mat-radio-button value="yes">Part photos needed?</mat-radio-button>
                    </mat-radio-group>
                </div>
            <!--   <div class="pb-1">
                    
                  
                  <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                  <img [src]="imgURL" height="200" *ngIf="imgURL">
              </div>
         "basicForm.controls['carreg_no'].invalid"  "!carsparesarray.carreg_no"           (click)=pushcarsparesarraytoserver()-->
  
                <button type="button"
        mat-raised-button 
        color="primary" 
        [disabled]="basicForm.invalid" (click)=addtocarsparesarray()>Add part</button>
            </div>
        </div>
        <button 
        mat-raised-button 
        color="primary" 
        [disabled]= "!carsparesarray.car_make && basicForm.invalid ||checkpartfield()" type="submit" >Submit Order</button>
    </form>
  </mat-card-content>
  </mat-card>
  
  </mat-sidenav-container>