<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="propic text-center">
        <img src="assets/images/car_shell.jpg" alt="">
      </div>
      
      <div class="profile-title text-center mb-1" style="display:flex; flex-direction: column">
        <div class="main-title"><b>{{Order.carReg_no}}</b></div>
       
      <!--  <div style="white-space:nowrap;display:flex; flex-direction: row ">
          <label for="id1">Order id: </label>
          <span fxFlex="8px"></span>
          <div class="subtitle mb-05">{{Order.order_id}}</div>
      </div> 
      <div style="white-space:nowrap;display:flex; flex-direction: row ">
        <label for="id1">Requisition No: </label>
        <span fxFlex="8px"></span>
        <div class="subtitle mb-05">{{Order.requisition_no}}</div>
    </div>   -->


      <div style="white-space:nowrap; display:flex; flex-direction: row ">
        <label for="id1">Car Make: </label>
        <span fxFlex="8px"></span>
        <div class="subtitle mb-05">{{Order.car_make}}</div>
    </div> 
    
    <div style="white-space:nowrap; display:flex; flex-direction: row ">
      <label for="id1">Car Model: </label>
      <span fxFlex="8px"></span>
      <div class="subtitle mb-05">{{Order.car_model}}</div>
  </div> 

        <div style="white-space:nowrap; display:flex; flex-direction: row ">
            <label for="id1">Year of Manufacture: </label>
            <span fxFlex="8px"></span>
            <div class="subtitle mb-05">{{Order.car_yom}}</div>
        </div> 
       
       
      </div>

      <div class="profile-actions mb-1" fxLayoutAlign="center center">
      <!-- <button mat-raised-button color="primary" (click)="submit()">Procure Autorised Parts</button>
        --> 
      </div>

    </mat-card>

   
  </div>

<!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    
      <mat-card class="default">
     
          <mat-card-title class="mat-bg-primary m-0">
            <div class="card-title-text">
              <span style="width: 100%;text-align: center" > Select Parts to Get Quotation </span>
              <span fxFlex="18px"></span>
              
              </div>
          </mat-card-title>

          <mat-card-content class="p-0">

            <div [perfectScrollbar]  class="list-tasktype">
              <form [formGroup]="interestFormGroup" (ngSubmit)="submit()">
              <div class="tasktype-item" *ngFor="let t of Order.order_parts; let i = index">
                 
                  <mat-list-item  routerLinkActive="list-item-active">
                  <!--    <span>{{t.partName}}</span>
                      <span fxFlex></span>
                     <mat-chip mat-sm-chip color="primary" [selected]="t.status ? true : false">{{t.status ? 'completed' : 'pending'}}</mat-chip>
                      
                      <span>{{t.part_status}}</span>
                     -->  
                     <div  style="display:flex; flex-direction: row;  align-items: center">
                      <mat-checkbox color="primary" 
                      (change)="onChange($event)" [checked]="interestFormGroup.get('interests').value.indexOf(t.partName) > -1" [value]="t.partName">{{t.partName}}</mat-checkbox>
                      &nbsp;
                      &nbsp;
                      &nbsp;
                      <mat-chip   
                      class="icon-chip" 
                      color="primary" 
                      selected="true" (click)="openDialogQuoate()" > View Quotations </mat-chip>
                    </div>
                  </mat-list-item>
                
              </div>

            <!--  <button>Submit</button>  -->
            <div class="profile-actions mb-1" fxLayoutAlign="center center">
              <button mat-raised-button color="primary"  type="submit">Request Quotation</button>
            </div>
            </form>
            </div>
            
          </mat-card-content>
        </mat-card>

  </div>
</div>