
<div  id="invoice">

    <div class="toolbar hidden-print">
        <div class="text-right">
            <button #myPrint id="printInvoice" style="display:none" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
      <!--    <button (click)="printComponent('myStuf')" class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button> -->
        </div>
        <hr>
    </div>


    <div style="overflow-y:scroll; height:100%" class="invoice ">
        <div  id="myStuf" style="min-width: 600px">
 <!--  
            <header>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="http://www.stantechmotors.co.ke">
                            <img src="http://www.stantechmotors.co.ke/assets/outputs/logo.png" data-holder-rendered="true" />
                            </a>
                    </div>
                    <div class="col company-details">
                        <h2 class="name">
                            <a target="_blank" href="https://lobianijs.com">
                            Stantech Motors
                            </a>
                        </h2>
                        <div>Off Mombasa Road, Shimo la Tewa Rd</div>
                        <div>Nairobi, Kenya</div>
                        <div>P.O Box 78710-00507,</div>
                        <div>Tel: +254 20 8070403</div>
                        <div>http://www.stantechmotors.co.ke</div>



                    </div>
                </div>
            </header>
-->

            <main>
                <div class="row contacts">
                      <div class="col invoice-to">

              <!--          <div  class="text-gray-light">Vehicle Details: </div> -->

                        <h2 class="to">{{Order.carReg_no}}</h2>
                        <div style="color:black" class="address">Job Number: {{Order.jobcard_no}}</div>
                        <div style="color:black" class="email">Source Officer : <a href="mailto:john@example.com">{{Order.order_sourceOfficer}}</a></div>
 <div style="color:black" class="date">Date of Entry: {{Order.order_date}}</div>
                    </div>




                    <div class="col invoice-details">
                        <h1 class="invoice-id">Purchased Part</h1>
                        <div class="email">Printed By:<a href="mailto:john@example.com">{{personel}} </a></div>
                    </div>



                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                  <tr>
                            <th>#</th>
                            <th  style="color:black" class="text-left">Part Name</th>
                            <th  style="color:black" class="text-right">Suplier</th>
                             <th  style="color:black" class="text-right">Suplier Phone</th>
                              <th  style="color:black" class="text-right">Order Status</th>
                            <th  style="color:black" class="text-right">Price</th>
                             <th  style="color:black" class="text-right">Quantity</th>
                            <th  style="color:black" class="text-right">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mydata of bids let i = index">
                            <td class="no">{{i}}</td>

                            <td class="text-left"><h3>
                          <!--    <a target="_blank" href="https://www.youtube.com/channel/UC_UMEcP_kF0z4E6KbxCpV1w"> </a> -->  
                               {{mydata.partname}}
                                </h3>
    
                            </td>

                            <td class="">
                            
                             <h3>
                                   {{mydata.supplier}}
                                   </h3>
                            </td>
                            <td class="qty">  {{mydata.supplier_num}}  </td>
                            <td class="qty">  {{mydata.confirmed}}   </td>

                            <td class="qty"> {{mydata.amount}}    </td>
                            <td class="qty">   {{mydata.quantity}}  </td>
                            <td class="total">  {{mydata.amount * mydata.quantity}}</td>
                        </tr>
                      
                      
                     <!-- 
                        <tr>
                            <td class="no">01</td>
                            <td class="text-left"><h3>Website Design</h3>Creating a recognizable design solution based on the company's existing visual identity</td>
                            <td class="unit">$40.00</td>
                            <td class="qty">30</td>
                            <td class="total">$1,200.00</td>
                        </tr>
                        <tr>
                            <td class="no">02</td>
                            <td class="text-left"><h3>Website Development</h3>Developing a Content Management System-based Website</td>
                            <td class="unit">$40.00</td>
                            <td class="qty">80</td>
                            <td class="total">$3,200.00</td>
                        </tr>
                        <tr>
                            <td class="no">03</td>
                            <td class="text-left"><h3>Search Engines Optimization</h3>Optimize the site for search engines (SEO)</td>
                            <td class="unit">$40.00</td>
                            <td class="qty">20</td>
                            <td class="total">$800.00</td>
                        </tr>

                        -->
                    </tbody>


                    <tfoot>
                    <tr>
                    </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td> {{total}}  </td>
                        </tr>

                    </tfoot>
                </table>



                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">This is a system generated report.</div>
                </div>
            </main>



            <footer>
               This is a system generated report.
            </footer>




        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>

</div>

