<mat-sidenav-container>

    <mat-sidenav  #sidenav [opened]="isSidenavOpen" mode="side" class="inbox-sidenav" >
      <!-- Compose button -->
      <button mat-raised-button class="mat-warn full-width" >{{Order.carReg_no}}</button>
      <!-- left side buttons           -->
      <div [perfectScrollbar] class="chat-sidebar-scroll">
      <mat-nav-list class="inbox-nav-list" role="list">
        <mat-list-item class="primary-imenu-item"  routerLinkActive="open" *ngFor="let item of Order.autorised_parts ; let i = index" 
        [style.background]="selected==i?  '#e91e63':'black'" (click)="selected=i"    (click)= onclickpart(item.part_id) >
          <a fxLayout="row">
             
              <span> {{item.partName}} </span>
          </a>
        
          <mat-divider></mat-divider>
        </mat-list-item>
       
        
  
      </mat-nav-list>
    </div>
    </mat-sidenav>
  
    <div  *ngIf="partstatus() == 'Complete' ; then thenBlock; else elseBlock"> </div>
    <ng-template #thenBlock>
    
        
  <mat-card class="p-0" >
      <mat-card-title class="mat-bg-primary m-0">
          <div class="card-title-text">
            <span style="width: 100%;text-align: center" >Awarded Bid</span>
            <span fxFlex></span>
            
          </div>
        
        </mat-card-title>
    <mat-card-content>
   
        <ngx-datatable
        class="material ml-0 mr-0"
        [rows]="itemswon"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="10"
        [rowHeight]="'auto'">
        <ngx-datatable-column name="Supplier Name" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.bidSourceName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Supplier Phone No." [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.bidSupplierPhone }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Amount per Item" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.bidAmount }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Supplier Status" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.bidSupplyStatus }}
          </ng-template>
        </ngx-datatable-column>
     <!--  <ngx-datatable-column name="Order Status" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">{{row.isActive ? 'Complete' : 'Bidding'}}</mat-chip>
          </ng-template>  
        </ngx-datatable-column>--> 
       
      </ngx-datatable>
          
  
    </mat-card-content>
    </mat-card>
    
     
  <mat-card class="p-0" style="height: 320px;">
      <mat-card-title class="mat-bg-primary m-0">
          <div class="card-title-text">
            <span style="width: 100%;text-align: center" >All Bids</span>
            <span fxFlex></span>
            
          </div>
        
        </mat-card-title>
    <mat-card-content>
   
      
        <ngx-datatable
        class="material ml-0 mr-0"
        [rows]="items"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="10"
        [rowHeight]="'auto'">
        <ngx-datatable-column name="Supplier Name" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.bidSourceName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Supplier Phone No." [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.bidSupplierPhone }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Amount per Item" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.bidAmount }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Supplier Status" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.bidSupplyStatus }}
          </ng-template>
        </ngx-datatable-column>

       
      </ngx-datatable>
          
          
  
    </mat-card-content>
    </mat-card>
        
      

    </ng-template>
    <ng-template #elseBlock>
        <mat-card class="p-0" style="height: 370px;">
            <mat-card-title class="mat-bg-primary m-0">
                <div class="card-title-text">
                  <span style="width: 100%;text-align: center" >Part Status</span>
                  <span fxFlex></span>
                  
                </div>
              
              </mat-card-title>
          <mat-card-content>
         
      <p>The Purchase process of this part is not Complete</p>

    </mat-card-content>
  </mat-card>
                       
    </ng-template>

  </mat-sidenav-container>